.headBar {
    width: 100%;
    height: 15rem;
    color: yellow;
    letter-spacing:8px;
    background-image:
    linear-gradient( rgba(44,134,192,.5), rgba(44,134,192,.5) ),
    url(../img/DSC_0283_edited_EBOARD.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
}

.c_head {
    text-align: center;
    vertical-align: middle;
    font-weight: 1000;
    font-size:60px;
}
.c_subhead {
    text-align: center;
    vertical-align: middle;
    color: rgb(44,134,192);
    font-size:40px;
    padding: 30px;
}