body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat; /*use our custom font*/
    font-weight: 700;
}
/*Sets the margin for the second navbar*/
.fixed-top-2 { /*distance from top nav*/
    margin-top: 3.5rem;
    height:2.2rem;
    background-color:#FFE700;
}
#topnav{ /*set top navbar to light blue*/
    background-color: #2c86c0!important;
    height:3.5rem
}
body {
    padding-top: 5.5rem; /*Prevents us from hitting the navbar*/
    height:100%;
}
.home-body{
    /*height:55rem;*/
}

.home-bottom{
    background-color:#FFE700;
    color: #2c86c0;
    font-weight:100;
    letter-spacing:2px;
    overflow:hidden;
    height:15rem;
}

/*hidden image for the banner*/
.img-hidden{
    visibility: hidden;
}
/*custom css to deal with parallax in carousel*/
/*it also deals with the image filter*/
.parallax{
    height: 500px; 
    opacity:0.7;
    filter:brightness(50%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/*custom css to deal with welcome text*/
/*TODO: implement css inheritance*/
.carouselText-bottom { 
    font-size:350%; 
    letter-spacing:2px; 
    color:#FFE700; 
    font-weight:900; 
    text-shadow: 1px 0 #FFE700; 
    padding-left:15rem
}
.carouselText-top {
    font-size:300%; 
    letter-spacing:2px; 
    color:#FFFFFF; 
    font-weight:900; 
    text-shadow: 1px 0 #FFFFFF; 
    padding-left: 5rem;
}
/*custom login button css TODO: trim down unnecessary stuff*/
.btn-outline-login {
    color: #FFFFFF;
    width:9.5rem;
    height:2.1rem;
    background-image: none;
    background-color: transparent;
    border-color: #FFFFFF;
    border-radius: 22.5px
}
.btn-outline-login:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de
}
.btn-outline-login.focus,
.btn-outline-login:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(91, 192, 222, .5);
    box-shadow: 0 0 0 2px rgba(91, 192, 222, .5)
}
.btn-outline-login.disabled,
.btn-outline-login:disabled {
    color: #5bc0de;
    background-color: transparent
}
.btn-outline-login.active,
.btn-outline-login:active,
.show>.btn-outline-login.dropdown-toggle {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de
}

a.sidebarnav{
    text-decoration: none;
    color: rgba(255, 255, 255, 1.0);
    -webkit-transition: color .5s;
    transition: color .5s;
}

a.sidebarnav:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

ul.sidebarnav {
    list-style-type: none;
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
}

ul.sidebarnav li {
    padding-top: 15px;
    margin-left: 10px;
}

@media screen and (max-width: 720px) {

.fixed-top-2 { /*distance from top nav*/
    margin-top: 3.5rem;
    height: auto;
    background-color:#FFE700;
    }
    #loginmobile {
    display: none !important;
    }
    
    a.navbar-brand{
    letter-spacing: -1px;
    }
  


}
